    .boxImg {
        width: 100%;
        height: 350px;
        max-width: 1240px;
        margin: 0 auto;
        background: url('http://static.yixi.tv/background/2015-02-13/9b615a14ee38236299c9d20c1185f805.1240x350.jpg');
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    
    .mainTopicList {
        width: 100%;
    }
    
    .mb30 {
        margin-bottom: 30px;
    }
    
    .mainTopicListCell {
        width: 49.5%;
        box-sizing: border-box;
        background-color: #f2f2f2;
        margin: 0.2%;
        float: left;
        text-align: center;
        box-shadow: 0px 1px 2px #bbb;
        border: 1px solid #fff;
        min-height: 614px;
        list-style: none;
    }
    
    .mainTopicListCell .topicImg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
        height: 90px;
        padding-top: 170px;
        position: relative;
    }
    
    .mainTopicListCell .topicImg .wordBg {
        position: absolute;
        bottom: 0px;
        background-color: #000;
        opacity: 0.3;
        width: 100%;
        height: 90px;
    }
    
    .mainTopicListCell .topicImg .title {
        display: block;
        width: 100%;
        color: #fff;
        text-shadow: 0px 1px 2px #333;
        text-align: center;
        font-size: 1.4em;
        line-height: 2em;
        padding: 10px 0px 5px 0px;
        position: relative;
        top: -85px;
    }
    
    .mainTopicListCell .topicImg .date {
        font-size: 0.8em;
        text-align: center;
        display: block;
        color: #dedede;
        position: relative;
        top: -85px;
    }
    
    .mainTopicListCell .desc {
        font-size: 1.2em;
        line-height: 2em;
        text-align: justify;
        padding: 20px 10px 0px 10px;
        min-height: 220px;
        display: block;
        position: relative;
        overflow: hidden;
    }
    
    .watchTitle {
        border-top: 1px dashed #dedede;
        display: block;
        font-size: 1.2em;
        text-align: center;
        color: #999;
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px 10px;
    }
    
    .mainTopicHeadList {
        max-width: 360px;
        display: inline-block;
        margin: 0 auto;
    }
    
    .mainTopicHeadList li {
        width: 20%;
        box-sizing: border-box;
        width: 72px;
        padding: 0px 5px;
        float: left;
        min-height: 58px;
        list-style: none;
    }
    
    .mainTopicHeadList .headBox {
        border: 2px solid #fff;
        box-shadow: 0px 1px 2px #666;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .mainTopicHeadList .headBox img {
        width: 100%;
        float: left;
    }
    
    .mainTopicHeadList .name {
        width: 100%;
        display: block;
        font-size: 1em;
        line-height: 1.4em;
        height: 2.8em;
        color: #666;
        word-break: break-all;
        padding: 10px 0px;
    }
    
    .mainTopicList a {
        color: #e27d7d;
        text-decoration: none;
    }
    
    .mainTopicList a:hover {
        background: #e27d7d;
        color: white;
    }
    
    .mainTopicListButton {
        width: 100%;
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        background-color: #f2f2f2;
        border-top: 1px solid #e27d7d;
    }
    
    .more {
        width: 300px;
        height: 50px;
        margin: 0 auto;
        background: #cc3434;
        border-radius: 5px;
        text-align: center;
        line-height: 50px;
        font-size: 1.4em;
        color: white;
        opacity: 0.8;
        margin-bottom: 20px;
    }
    
    .none {
        display: none;
        text-align: center;
        color: #ccc;
        font-size: 1em;
        text-align: 2em;
    }
    
    .more:hover {
        opacity: 1;
    }
    /*@media screen and (max-width: 768px) {
        h2 {
            font-size: 2em;
            line-height: 1em;
            text-align: center;
        }
    }*/
    
    @media screen and (max-width: 768px) {
        .mainTopicListCell {
            width: 100%;
            margin: 5px 0px;
            float: none;
        }
    }
    
    @media screen and (max-width: 768px) {
        h2 {
            width: 100%;
            font-size: 2.4em;
            line-height: 1em;
            text-align: center;
        }
    }